<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>แก้ไขข้อมูลส่วนตัว</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-padding">
          <ion-list margin-bottom>
            <ion-item>
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input inputmode="text" placeholder="Email" value="admin@gmail.com" disabled=""></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Password:</ion-label>
              <ion-input inputmode="password" placeholder="ระบุรหัสผ่านเดิม"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">New Password:</ion-label>
              <ion-input inputmode="password" placeholder="ระบุรหัสผ่านใหม่"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button size="medium" expand="full" color="dark" (click)="sendData()" no-margin>บันทึก</ion-button>
  </ion-card>
</ion-content>
