<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="text1">จัดการตำแหน่งงาน</ion-text>
        <!--        <ion-text color="light" class="fw700">คำขออนุมัติขอเป็นสมาชิกราชการ</ion-text>-->
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="goToAddPosition()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input type="text" placeholder="ค้นหาจากชื่อ" [(ngModel)]="searchName" (ionChange)="search(searchName, '')" debounce="700"></ion-input>
    <ion-icon name="search"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="ค้นหาจากกระทรวง" [(ngModel)]="searchMinistry" (ionChange)="search('', searchMinistry)" debounce="700"></ion-input>
    <ion-icon name="search"></ion-icon>
  </ion-item>
  <ion-list>
    <ion-item-sliding *ngFor="let info of officer">
      <ion-item detail lines="full">
        <ion-label class="ion-text-wrap">
          <p style="color: #000000">ชื่อ : {{info.name_po}}</p>
          <ion-text color="secondary">
            <p>กระทรวง : {{info.ministry_name}}</p>
          </ion-text>
          <ion-text color="secondary">
            <p>ตำแหน่ง : {{info.name_inc}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(info)">
          <ion-icon name="create"></ion-icon>
          <p>แก่ไข</p>
        </ion-item-option>
        <ion-item-option color="danger" (click)="delete(info)">
          <ion-icon name="trash"></ion-icon>
          <p>ลบ</p>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
