<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="secondary"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-text color="light">
                <ion-text color="light" class="text1">ค้นหากระทรวง/สังกัด</ion-text>
            </ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button size="small" shape="round" color="medium" (click)="showNotification()">
                <ion-badge id="notification-badge" color="danger" *ngIf="notificationShow > 0">{{notificationShow}}</ion-badge>
                <ion-icon name="notifications"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item no-padding class="animated fadeInUp">
        <input list="officers" placeholder="ค้นหา" style="width: 100%;" [(ngModel)]="searchName" (change)="searchData($event)">
        <datalist id="officers">
            <option *ngFor="let _ministry of ministryList" value="{{_ministry.name}}">{{_ministry.name}}</option>
        </datalist>
    </ion-item>
    <ion-card *ngFor="let officer of officerList" no-padding no-margin style="margin-top: 8px; margin-bottom: 4px;">
        <ion-item>
            <ion-label>
                <h5>{{officer.ministry}}</h5>
                <p>{{officer.position}} {{officer.name}}</p>
            </ion-label>
        </ion-item>
        <ion-card-content>
            <p>หมายเลขโทรศัพท์มือถือ {{officer.tel}}</p>
            <p>หมายเลขโทรศัพท์สำนักงาน {{officer.fax}}</p>
            <p>รายละเอียดที่อยู่: {{officer.address}}</p>
        </ion-card-content>
        <ion-footer>
            <ion-row>
                <ion-col>
                    <ion-button expand="full" color="light" (click)="actionFavorite(officer)">
                        <ion-icon slot="icon-only" name="star" style="color: #d83636" *ngIf="officer.favorite"></ion-icon>
                        <ion-icon slot="icon-only" name="star" *ngIf="!officer.favorite"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="full" color="light" (click)="actionMap(officer.lat, officer.lng)">
                        <ion-icon slot="icon-only" name="pin"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="full" color="light" (click)="actionCall(officer.tel)">
                        <ion-icon slot="icon-only" name="call"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-footer>
    </ion-card>
</ion-content>
