<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button size="small" shape="round" color="medium" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="text1">{{titleName}}</ion-text>
        <!--        <ion-text color="light" class="fw700">คำขออนุมัติขอเป็นสมาชิกราชการ</ion-text>-->
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <form [formGroup]="onAddMinisterForm" class="list-form">
      <ion-item no-padding no-margin class="animated fadeInUp box">
        <ion-label position="floating">
          <ion-icon name="document-text" item-start></ion-icon>
          ชื่อกระทรวง
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="name" [(ngModel)]="name"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onAddMinisterForm.get('name').touched && onAddMinisterForm.get('name').hasError('required')">
        <ion-text color="warning"> กรุณากรอกชื่อกระทรวง </ion-text>
      </p>
      <div style="margin-top: 20px">
        <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="addMinistry()" [disabled]="!onAddMinisterForm.valid" tappable>
          <ion-icon name="checkmark"></ion-icon>
          บันทึก
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
