<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="text1">คำขออนุมัติแก้ไขข้อมูลสมาชิก</ion-text>
        <!--        <ion-text color="light" class="fw700">คำขออนุมัติขอเป็นสมาชิกราชการ</ion-text>-->
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let user of updates">
      <ion-item detail lines="full"> {{user.name_user}} </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="view(user)">
          <ion-icon name="eye"></ion-icon>
          <p>รายละเอียด</p>
        </ion-item-option>
        <ion-item-option color="success" (click)="accept(user)">
          <ion-icon name="checkmark"></ion-icon>
          <p>ยอมรับ</p>
        </ion-item-option>
        <ion-item-option color="danger" (click)="denied(user)">
          <ion-icon name="close"></ion-icon>
          <p>ปฏิเสธ</p>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
