#notification-badge {
  position: absolute;
  top: 0rem;
  right: -0.3rem;
  opacity: 0.9;
  z-index: 999;
  font-size: 8px !important;
}
ion-card:nth-of-type(even) {
  background-color: antiquewhite;
}
