<ion-content class="ion-padding" class="login auth-page">
  <div class="auth-content" padding-top="12px">
    <!-- Logo -->
    <div class="ion-padding-top ion-text-center">
      <h5 no-margin>
        <ion-text color="light" class="fw500">
          <ion-text color="secondary">ลงทะเบียน<br />สำหรับส่วนราชการ</ion-text>
        </ion-text>
      </h5>
    </div>

    <form [formGroup]="onRegisterForm" class="list-form">
      <div style="margin-top: 20px">
        <ion-text color="light">ลำดับ U-0000{{dataRun + 1}}</ion-text>
      </div>
      <ion-item class="ion-no-padding" no-margin class="animated fadeInUp box">
        <ion-label position="floating">
          ชื่อ-นามสกุล
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="fullName" [(ngModel)]="fullname"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('fullName').touched && onRegisterForm.get('fullName').hasError('required')">
        <ion-text color="warning"> กรุณากรอกชื่อ-นามสกุล </ion-text>
      </p>

      <ion-item class="ion-no-padding" class="animated fadeInUp box">
        <ion-label position="floating">
          ที่อยู่
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="address" [(ngModel)]="address"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('address').touched && onRegisterForm.get('address').hasError('required')">
        <ion-text color="warning"> กรุณากรอกที่อยู่ </ion-text>
      </p>

      <ion-item class="ion-no-padding" class="animated fadeInUp box">
        <ion-label position="floating">
          หน่วยงาน
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="ministry" [(ngModel)]="ministry"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('ministry').touched && onRegisterForm.get('ministry').hasError('required')">
        <ion-text color="warning"> กรุณากรอกหน่วยงาน </ion-text>
      </p>

      <ion-item class="ion-no-padding" class="animated fadeInUp box">
        <ion-label position="floating">
          ตำเเหน่งงานราชการ
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="incumbent" [(ngModel)]="incumbent"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('incumbent').touched && onRegisterForm.get('incumbent').hasError('required')">
        <ion-text color="warning"> กรุณากรอกตำเเหน่งงานราชการ </ion-text>
      </p>

      <ion-item class="ion-no-padding" class="animated fadeInUp box">
        <ion-label position="floating">
          เลขบัตรประชาชน
        </ion-label>
        <ion-input color="secondary" type="number" formControlName="id_card" [(ngModel)]="id_card" maxlength="15"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('id_card').touched && onRegisterForm.get('id_card').hasError('required')">
        <ion-text color="warning"> กรุณากรอกเลขบัตรประชาชน </ion-text>
      </p>

      <ion-item class="ion-no-padding" class="animated fadeInUp box">
        <ion-label position="floating">
          สถานที่ทำงาน
        </ion-label>
        <ion-textarea color="secondary" type="text" formControlName="position" [(ngModel)]="position"></ion-textarea>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('position').touched && onRegisterForm.get('position').hasError('required')">
        <ion-text color="warning"> กรุณากรอกสถานที่ทำงาน </ion-text>
      </p>

      <ion-item class="ion-no-padding" class="animated fadeInUp box">
        <ion-label position="floating">
          เบอร์โทรศัพท์
        </ion-label>
        <ion-input color="secondary" type="tel" formControlName="tel" [(ngModel)]="tel" maxlength="10"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('tel').touched && onRegisterForm.get('tel').hasError('required')">
        <ion-text color="warning"> กรุณากรอกเบอร์โทรศัพท์ </ion-text>
      </p>

      <ion-text color="light" class="ion-margin-top">ข้อมูลการใช้งาน</ion-text>
      <ion-item class="ion-no-padding" class="animated fadeInUp box">
        <ion-label position="floating">
          Username (ระบุ Email)
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="username" [(ngModel)]="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('username').touched && onRegisterForm.get('username').hasError('required')">
        <ion-text color="warning"> กรุณากรอกอีเมล </ion-text>
      </p>

      <ion-item class="ion-no-padding" class="animated fadeInUp box">
        <ion-label position="floating">
          Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">
        <ion-text color="warning"> กรุณากรอกรหัสผ่าน </ion-text>
      </p>

      <ion-item class="ion-no-padding" class="animated fadeInUp box">
        <ion-label position="floating">
          Confirm Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="re-password" [(ngModel)]="rePassword"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('re-password').touched && onRegisterForm.get('re-password').hasError('required')">
        <ion-text color="warning"> กรุณากรอกรหัสผ่านอีกครั้ง </ion-text>
      </p>

      <div style="margin-top: 20px">
        <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="doRegister()" [disabled]="!onRegisterForm.valid" tappable>
          <ion-icon name="checkmark"></ion-icon>
          ลงทะเบียน
        </ion-button>
      </div>
      <div style="margin-top: 10px">
        <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="back()" tappable>
          <ion-icon name="close"></ion-icon>
          ยกเลิก
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
