<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="text1">ค้นหาจากหมายเลขโทรศัพท์มือถือ/สำนักงาน</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="showNotification()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end" *ngIf="notificationCount > 0">{{notificationCount}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="ค้นหาจากหมายเลขโทรศัพท์มือถือ" [(ngModel)]="searchTel" (ionChange)="search(searchTel, '')" debounce="700"></ion-input>
    <ion-icon name="search"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="ค้นหาจากหมายเลขโทรศัพท์สำนักงาน" [(ngModel)]="searchFax" (ionChange)="search('', searchFax)" debounce="700"></ion-input>
    <ion-icon name="search"></ion-icon>
  </ion-item>
  <ion-card *ngFor="let officer of officerList; let i = index;" no-padding no-margin style="margin-top: 8px; margin-bottom: 4px">
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" class="box">
          <ion-label>
            <h5>หน่วยงาน : {{officer.ministry_name}}</h5>
            <p>ตำแหน่ง : {{officer.name_inc}}</p>
            <p>ชื่อ : {{officer.name_po}}</p>
          </ion-label>
        </ion-item>
        <hr style="height: 1px; background-color: #e0e0e0" />
      </ion-col>
    </ion-row>
    <ion-card-content>
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding" size="7"><p>หมายเลขโทรศัพท์มือถือ :</p></ion-col>
        <ion-col class="ion-no-padding" size="5">
          <ion-button expand="block" size="small" *ngFor="let item of officerList[i].tel" (click)="actionCall(item)"><ion-icon slot="icon-only" name="call"></ion-icon> &nbsp;{{item}}</ion-button>
        </ion-col>
      </ion-row>
      <hr style="height: 1px; background-color: #e0e0e0" />
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding" size="7"><p>หมายเลขโทรศัพท์สำนักงาน :</p></ion-col>
        <ion-col class="ion-no-padding" size="5">
          <ion-button expand="block" size="small" *ngFor="let item of officerList[i].fax" (click)="actionCall(item)"><ion-icon slot="icon-only" name="call"></ion-icon> &nbsp;{{item}}</ion-button>
        </ion-col>
      </ion-row>
      <!-- <p>หมายเลขโทรศัพท์มือถือ {{officer.tel}}</p> -->
      <!-- <p>หมายเลขโทรศัพท์สำนักงาน {{officer.fax}}</p> -->
      <!-- <p>รายละเอียดที่อยู่: {{officer.address}}</p> -->
    </ion-card-content>
    <ion-footer>
      <ion-row>
        <ion-col>
          <ion-button expand="full" color="light" (click)="actionFavorite(officer)">
            <ion-icon slot="icon-only" name="star" style="color: #d83636" *ngIf="officer.favorite"></ion-icon>
            <ion-icon slot="icon-only" name="star" *ngIf="!officer.favorite"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="light" (click)="actionMap(officer.lat, officer.long)">
            <ion-icon name="navigate"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- <ion-col>
          <ion-button expand="full" color="light" (click)="actionCall(officer)">
            <ion-icon slot="icon-only" name="call"></ion-icon>
          </ion-button>
        </ion-col> -->
      </ion-row>
    </ion-footer>
  </ion-card>
</ion-content>
